html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: black;
    background-color: white; /* Consider black for iOS */
    margin: 0;
}

h1,
input,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

#main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

#main-container > h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

#table-container {
    display: grid;
    grid-gap: 1.25em;
    grid-auto-flow: row;
    flex-grow: 1;
    padding: 1.25em;
}

#debug-container {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 1.25em;
    border-left: 1px solid #d0d0d0;
    background-color: #f3f3f3;
    overflow: auto;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: black;
    background-image: url('images/table.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0.625em;
    box-sizing: border-box;
    overflow: hidden;
}

.table > h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 5em;
    text-align: center;
    margin: 0.25em 0 0;
}

.table p {
    margin: 0;
}

.table input,
.table button {
    font-family: 'Caudex', serif;
    font-weight: 700;
}

.table input {
    color: white;
    text-shadow: inherit;
    padding: 0.2em;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0.3em;
    outline: none;
    -webkit-appearance: none; /* remove the shadow in iOS */
}

.table input::placeholder {
    color: rgba(255,255,255,0.2);
    text-shadow: none;
}

.table input[type=number]::-webkit-inner-spin-button {
    cursor: pointer;
}

.table button {
    color: rgba(62,62,62,1);
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(191,191,191,1);
    padding: 0.2em 0.8em;
    background-image: linear-gradient(160deg, #565656, #626262, #d0d0d0, #6b6b6b, #565656);
    background-size: 100% 100%;
    background-position: center;
    border: 1px solid #565656;
    border-radius: 0.3em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(65,65,65,0.4), inset 0 -2px 5px 1px rgba(73,73,73,1), inset 0 -1px 1px 3px rgba(191,191,191,1);
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.table button:focus,
.table button:hover:enabled {
    color: rgba(62,62,62,0.8);
    background-size: 150% 150%;
    border-color: rgba(86,86,86,0.6);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 -2px 5px 1px #606060, inset 0 -1px 1px 3px rgba(191,191,191,1);
}

.table button:active:enabled {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(65,65,65,0.4), inset 0 -2px 5px 1px #606060, inset 0 -1px 1px 3px rgba(191,191,191,1);
}

.table button:disabled {
    opacity: 0.2;
    cursor: default;
}

.table button.gold {
    color: rgba(120,50,5,1);
    text-shadow: 0 1px 1px rgba(250,227,133,1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border-color: #a55d07;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(110,80,20,0.4), inset 0 -2px 5px 1px rgba(139,66,8,1), inset 0 -1px 1px 3px rgba(250,227,133,1);
}

.table button.gold:focus,
.table button.gold:hover:enabled {
    color: rgba(120,50,5,0.8);
    border-color: rgba(165,93,7,0.6);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250,227,133,1);
}

.table button.gold:active:enabled {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(110,80,20,0.4), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250,227,133,1);
}

.input-container input,
.input-container button {
    font-size: 1.25em;
    margin: 0.05em 0.25em;
}

.bet-container::before {
    content: '$';
}

.bet-input {
    width: 4.6em;
}

.hud-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.hud-container,
.input-container,
.player-container {
    margin: 1.25em 0;
}

.dealer-container {
    margin: 0.625em 0;
}

.hud-container p:nth-child(2) {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.money-container,
.message-container,
.total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 33.333333%;
}

.money-container {
    border-right: 2px solid white;
}

.total-container {
    border-left: 2px solid white;
}

.message-container {
    justify-content: center;
}

.primary-player-chips,
.primary-player-bet,
.primary-player-total,
.dealer-total,
.message {
    margin: 0 1.5625em;
}

.primary-player-chips,
.primary-player-total {
    text-align: left;
}

.primary-player-bet,
.dealer-total {
    text-align: right;
}

.message {
    text-align: center;
}

.primary-player-total {
    color: lightblue;
}

.dealer-total {
    color: goldenrod;
}

.sit-container,
.bet-container,
.action-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dealer-container,
.player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.dealer,
.player {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-width: 9.375em;
    /* margin: 0 0.625em; */
    transition: all 0.25s;
}

.player {
    transform: translate3d(0,3.5em,0);
}

.player.primary {
    transform: translate3d(0,-3.5em,0) scale3d(1.2,1.2,1.2);
}

.input-container {
    z-index: 1;
}

.player.primary .seat,
.player.primary .player-info {
    display: none;
}

.seat {
    position: absolute;
    width: 9.375em;
    height: 9.375em;
    border: 0.4375em solid rgba(255,255,255,0.5);
    border-radius: 50%;
    box-sizing: border-box;
}

.hand,
.split-hand {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 9.375em;
    transition: all 0.25s;
}

.split-hand:nth-child(1) {
    transform: translate3d(-1.25em,-0.625,0);
}

.split-hand:nth-child(2) {
    transform: translate3d(1.25em,0.625em,0);
}

.card {
    width: 6.25em;
    height: 8.75em;
    margin: 0.3125em -2.5em;
    background-color: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.375em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.card.deal {
    animation: deal-animation 0.75s ease-in-out;
}

.card.flip {
    animation: flip-animation 0.5s ease-in-out;
}

@keyframes deal-animation {
    0% {
        transform: translate3d(0,-100vh,0) rotate3d(0,0,1,60deg) scale3d(1.5,1.5,1.5);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
}

@keyframes flip-animation {
    0% {
        transform: perspective(250px) rotate3d(0,1,0,180deg);
    }
}

.player-info {
    position: relative;
    width: 90%;
    text-align: center;
    margin-bottom: 0.3125em;
}

.player-name {
    line-height: 1.3em;
}

.active .player-name {
    background-image: linear-gradient(rgba(218,165,32,0), rgba(218,165,32,0.5));
}

.player-stats {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 0.8em;
}

.player-chips,
.player-bet,
.player-total {
    width: 33.333333%
}

.player-chips {
    background-color: rgba(255,0,0,0.5);
}

.player-bet {
    background-color: rgba(0,255,0,0.5);
}

.player-total {
    background-color: rgba(0,0,255,0.5);
}
